.nav-link:hover:not(.active) {
  cursor: pointer;
  background-color: #b1d1ff;
  color: #000000;
  border-radius: 5px;
}

.custom-active {
  background-color: #0d6efd;
  border-radius: 5px;
}

.custom-active, .custom-active:focus {
  color: #fff !important;
}

#dropdownUser1 {
  outline: none;
  background-color: transparent;
  border: none;
}

#dropdownUser1:hover {
  cursor: pointer;
}

.dropdown-menu {
  right: 0;
}
